<div>
  <form action="/restaurants/newrestaurant" method="POST">
    <div class="mb-3">
      <label for="id" class="form-label">id</label>
      <input
        class="form-control"
        id="id"
        type="text"
        placeholder="id"
        name="id"
        required
      />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">name</label>
      <input
        class="form-control"
        id="name"
        type="text"
        placeholder="name"
        name="name"
      />
    </div>
    <div class="mb-3">
      <label for="name_en" class="form-label">name_en</label>
      <input
        id="name_en"
        class="form-control"
        type="text"
        placeholder="english name"
        name="name_en"
      />
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">category</label>
      <input
        class="form-control"
        id="category"
        type="text"
        placeholder="category"
        name="category"
      />
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">image</label>
      <input
        class="form-control"
        id="image"
        type="text"
        placeholder="image"
        name="image"
      />
    </div><div class="mb-3">
      <label for="location" class="form-label">location</label>
      <input
        class="form-control"
        id="location"
        type="text"
        placeholder="location"
        name="location"
      />
    </div><div class="mb-3">
      <label for="phone" class="form-label">phone</label>
      <input
        class="form-control"
        id="phone"
        type="text"
        placeholder="phone"
        name="phone"
      />
    </div>
    <div class="mb-3">
      <label for="google_map" class="form-label">google_map</label>
      <input
        class="form-control"
        id="google_map"
        type="text"
        placeholder="google_map"
        name="google_map"
      />
    </div><div class="mb-3">
      <label for="rating" class="form-label">rating</label>
      <input
        class="form-control"
        id="rating"
        type="text"
        placeholder="rating"
        name="rating"
      />
    </div><div class="mb-3">
      <label for="description" class="form-label">description</label>
      <input
        class="form-control"
        id="description"
        type="text"
        placeholder="description"
        name="description"
      />
    </div>
    <div style="display:flex;"><button
        type="submit"
        class="btn btn-primary me-3"
      >Create</button>
      <a href="/"><button
          type="button"
          class="btn btn-primary"
        >home</button></a></div>
  </form>
</div>