<nav class="navbar navbar-light bg-light">
  <div class="container" style="display:flex;">
    <p class="navbar-brand" href="/">
      <img
        src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt="我的餐廳清單"
      />
      請在下方新增餐廳資料
    </p>
  </div>
</nav>

<div class="container">
  <form action="/restaurants/newrestaurant" method="POST">
    <div class="mb-3 mt-3 form-group">
      <label for="id" class="form-label">id</label>
      <input
        class="form-control"
        id="id"
        type="number"
        placeholder="id(請輸入數字)"
        name="id"
        maxlength="20"
        required
      />
    </div>
    <div class="mb-3 form-group">
      <label for="name" class="form-label">name</label>
      <input
        class="form-control"
        id="name"
        type="text"
        placeholder="name"
        name="name"
        maxlength="20"
      />
    </div>
    <div class="mb-3 form-group">
      <label for="name_en" class="form-label">name_en</label>
      <input
        id="name_en"
        class="form-control"
        type="text"
        placeholder="english name"
        name="name_en"
        maxlength="20"
      />
    </div>
    <div class="mb-3 form-group">
      <label for="category" class="form-label">category</label>
      <input
        class="form-control"
        id="category"
        type="text"
        placeholder="category"
        name="category"
        maxlength="20"
      />
    </div>
    <div class="mb-3 form-group">
      <label for="image" class="form-label">image</label>
      <input
        class="form-control"
        id="image"
        type="text"
        placeholder="image"
        name="image"
        maxlength="150"
      />
    </div><div class="mb-3 form-group">
      <label for="location" class="form-label">location</label>
      <input
        class="form-control"
        id="location"
        type="text"
        placeholder="location"
        name="location"
        maxlength="20"
      />
    </div><div class="mb-3 form-group">
      <label for="phone" class="form-label">phone</label>
      <input
        class="form-control"
        id="phone"
        type="number"
        placeholder="phone"
        name="phone"
        min="0"
        max="9999999999999999999"
        oninput="if(value.length>19)value=value.slice(0,19)"
      />
    </div>
    <div class="mb-3 form-group">
      <label for="google_map" class="form-label">google_map</label>
      <input
        class="form-control"
        id="google_map"
        type="text"
        placeholder="google_map"
        name="google_map"
        maxlength="20"
      />
    </div><div class="mb-3 form-group">
      <label for="rating" class="form-label">rating</label>
      <input
        class="form-control"
        id="rating"
        type="number"
        placeholder="rating"
        name="rating"
        min="0"
        max="999"
        step="0.1"
        oninput="if(value.length>3)value=value.slice(0,3)"
      />
    </div><div class="mb-3 form-group">
      <label for="description" class="form-label">description</label>
      <input
        class="form-control"
        id="description"
        type="text"
        placeholder="description"
        name="description"
        maxlength="40"
      />
    </div>
    <div style="display:flex;"><button
        type="submit"
        class="btn btn-info me-3"
      >Create</button>
      <a href="/"><button
          type="button"
          class="btn btn-info"
        >home</button></a></div>
  </form>
</div>